<div id="signin" class="span11 mainContainer">
	<div class="row-fluid">
		<div class="signinForm well span11">
			<div class="form span6">
				<h1>Inicia sesión en TweetBook</h1>
				<%= form_for(:session, :url => sessions_path) do |f| %>
					<div class="field">
						<!--<%= f.label :email, "Email" %><br />-->
						<%= f.text_field :email, :placeholder => "Email" %>
					</div>
					<div class="field">
						<!--<%= f.label :password, "Contraseña" %><br />-->
						<%= f.password_field :password, :placeholder => "Contraseña" %>
					</div>
					<div class="actions">
						<%= f.submit "Entrar", :class => "btn btn-primary tweetBookButton" %>
					</div>
				<% end %>		
			</div>
			<div class="span3">
				<img src="http://placehold.it/260x180" alt="">
			</div>
		</div>	
	</div>
</div>