<div id="editProfile" class="span11 mainContainer">
	<div class="row-fluid">
		<div class="span4">
			<div class="well">
				<div class="userInfo row-fluid">
					<div class="userAvatar span1">
						<%= gravatar_for current_user, :size => :thumb%>
					</div>
					<div class="userName span3 offset1">
						<%= current_user.name %><br/>
						<small class="more">Ver mi página de perfil</small>
					</div>					
				</div>
			</div>
			<div class="well">
				<h2>Similares a ti</h2>
				<div class="similares">
					<div class="smallUser">
						<%= gravatar_for current_user, :size => :thumb %>
						<span class="name"><%= link_to current_user.name, current_user %></span>
					</div>
				</div>
			</div>					
		</div>
		<div class="span7 offset4 well">
			<h1 class="title">Cuenta</h1>
			<span class="desc">Cambia tu configuración de cuenta básica.</span>
			<%= form_for(@user,:html => {:multipart => true}) do |f| %>
		  		<%= render 'shared/error_messages', :object => f.object %>
			  	<div class="field">
			    	<%= f.label :name, "Nombre" %>
			    	<%= f.text_field :name %>
			  	</div>
			  	<div class="field">
			    	<%= f.label :email %>
			    	<%= f.text_field :email %>
			  	</div>
			  	<div class="field">
			    	<%= f.label :identity, "Usuario" %>
			    	<%= f.text_field :identity %>
			  	</div>
			  	<div class="field">
			  		<%= f.label :desc, "Descripción" %>
			    	<%= f.text_area :desc %>
			  	</div>
			  	<div class="field">
			    	<%= f.label :password, "Contraseña" %>
			    	<%= f.password_field :password %>
			  	</div>
			  	<div class="field">
			    	<%= f.label :password_confirmation, "Confirmacion" %>
			    	<%= f.password_field :password_confirmation %>
			  	</div>
			  	<div class="field">
			  	  	<%= gravatar_for @user %>
	  				<!--<a href="http://gravatar.com/emails">Cambiar</a>-->
	  				<%= f.file_field :avatar%>
  				</div>
			  	<div class="actions">
			    	<%= f.submit "Actualizar" %>
			  	</div>
			<% end %>			
		</div>			
	</div>
</div>

<!--<h1>Edit user</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">change</a>
</div>-->

