<div id="signup-wrapper">
	<h1>Sign up</h1>
	
	<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages', :object => f.object %>
	  <div class="field">
	    <%= f.label :name, "Nombre" %>
	    <%= f.text_field :name, :placeholder => "Nombre completo" %>
	  </div>
	  <div class="field">
	    <%= f.label :email, "Email" %>
	    <%= f.text_field :email, :placeholder => "Correo electrónico" %>
	  </div>
	  <div class="field">
	    <%= f.label :identity, "Nombre usuario" %>
	    <%= f.text_field :identity, :placeholder => "Nombre usuario" %>
	  </div>
	  <div class="field">
	    <%= f.label :password, "Contraseña" %>
	    <%= f.password_field :password, :placeholder => "Contraseña" %>
	  </div>
	  <div class="field">
	    <%= f.label :password_confirmation, "Confirmación" %>
	    <%= f.password_field :password_confirmation, :placeholder => "Confirmación" %>
	  </div>
	  <div class="actions">
	    <%= f.submit "Registrar" %>
	  </div>
	<% end %>
</div>
