<div id="profile" class="span11">
	<div class="userInfo well">
		<div class="row-fluid">
			<div class="span2">
				<%= gravatar_for @user, :size => 128 %>
				<%= render 'follow_form' if signed_in? %>
			</div>
			<div class="status span7 offset3">
				<h1><%= @user.name %></h1>
			</div>
			<div class="operations offset8 span2">
				<p>
					<% if current_user?(@user)%>
						<%= link_to "Configuración", edit_user_path(current_user), :class => "btn btn-primary tweetBookLink"%>
					<% end %>
				</p>
	        	<p><%= link_to user_path(@user), @user %></p>
	        	<p><%= pluralize(@user.microposts.count,"micropost") %></p>
			</div>
        </div>	
	</div>	
	<div class="row-fluid">
		<div class="span4">
			<div class="well">
				<ul class="nav nav-pills nav-stacked">
					<li <%='class=active' if @title =~ /Perfil/%>><%= link_to "Cronología", current_user %></li>
					<li <%='class=active' if @title =~ /Followers/%>><a href="<%= followers_user_path(@user) %>">Seguidores</a></li>
					<li <%='class=active' if @title =~ /Following/%>><a href="<%= following_user_path(@user) %>">Siguiendo</a></li>
				</ul>
			</div>
			<div class="well">
				<h2>Similares a ti</h2>
				<div class="similares">
					<div class="smallUser">
						<%= gravatar_for @user, :size => 48 %>
						<span class="name"><%= link_to @user.name, @user %></span>
					</div>
				</div>
			</div>
		</div>
		<div class="timeLine span7 offset4 well">
			<h1 class="feedTitle"><%=@title%></h1>
			<% if @title =~ /Perfil/%>
		      <% if !@user.microposts.empty? %>
		          <%= render @microposts %>
		        <%= will_paginate @microposts, :renderer => BootstrapPagination::Rails %>
	       	  <% else %>
	       	  	<p>Todavía no <% if current_user?(@user)%> has <% else %> ha <% end %> publicado nada.</p>
		      <% end %>
	      	<%else%>
      		  <%=render 'show_follow'%>
	      	<% end %>
		</div>    
		<%=render 'shared/delete_tweet'%>
	</div>
</div>
