<div id="home" class="span11">
	<div class="row-fluid">
		<div class="span4">
			<div class="well">
				<h1>
					<%= gravatar_for @user %>
					<%= @user.name%>
				</h1>
			</div>
			<div class="well">
				<h1>
					A quien seguir
				</h1>
			</div>
			<div class="well">
				<h1>
					¿Qué está pasando en este momento?
				</h1>
			</div>
		</div>
		<div class="span7 offset4 well">
			<h1 class="feedTitle">TIMELINE</h1>
			<div class="post">
				<div class="avatar">
					<img alt="victor" class="gravatar" src="http://gravatar.com/avatar/df385102847dc5b62c12713645299381?size=50">
				</div>
				<div class="postContent">
					<h2 class="postFrom">Alfonso gonzalez&nbsp;<span class="userName">@llosimura</span></h2>
					<p>@vivictormora somos dos. Ahora fijandome, tengo demasiada musica italiana.</p>
				</div>
			</div>
			<div class="post">
				<div class="avatar">
					<img alt="victor" class="gravatar" src="http://gravatar.com/avatar/df385102847dc5b62c12713645299381?size=50">
				</div>
				<div class="postContent">
					<h2 class="postFrom">Alfonso gonzalez&nbsp;<span class="userName">@llosimura</span></h2>
					<p>@vivictormora somos dos. Ahora fijandome, tengo demasiada musica italiana.</p>
				</div>
			</div>
			<div class="post">
				<div class="avatar">
					<img alt="victor" class="gravatar" src="http://gravatar.com/avatar/df385102847dc5b62c12713645299381?size=50">
				</div>
				<div class="postContent">
					<h2 class="postFrom">Alfonso gonzalez&nbsp;<span class="userName">@llosimura</span></h2>
					<p>@vivictormora somos dos. Ahora fijandome, tengo demasiada musica italiana.</p>
				</div>
			</div>
		</div>
		
      <% unless @user.microposts.empty? %>
        <table class="microposts" summary="User microposts">
          <%= render @microposts %>
        </table>
        <%= will_paginate @microposts %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
      <strong>Microposts</strong> <%= @user.microposts.count %>
    </td>
    
	</div>
</div>
<!--<div id="home">
</div>-->
