<div class="post">
	<div class="row-fluid">
		<div class="span1 avatar">
			<%= gravatar_for feed_item.user, :size => 50 %>
		</div>
		<div class="postContent">
			<h2 class="postFrom"><span class="nub"></span><%= link_to feed_item.user.name, feed_item.user%>&nbsp;<span class="userName">@llosimura</span></h2>
			<p class="content"><%= wrap(feed_item.content) %></p>
			<p class="more">
				<span class="operations">
					<i class="icon-play-circle"></i>
					<%= link_to "Ver vídeo",'',
											:class => 'videoTweet',
											"data-url" => "http://www.youtube.com/watch?v=tzunjg9RuKQ",
											:title => "VideoTweet"%>
					<% if current_user?(feed_item.user) %>
						<i class="icon-trash"></i>
					      <%= link_to "Borrar", '',
	                   						   :class => 'delete-confirm',
                       						   "data-id" => feed_item.id,
                       						   :title => feed_item.content %>
				   <%else%>
						<i class="icon-repeat"></i>	
						<%=link_to "Responder", '',
												:class => 'reply',
												"data-name" => feed_item.user.name,
												"data-content" => feed_item.content,
												:title => feed_item.user.name %>			                                       						   
					</span>&nbsp;-&nbsp;
				<% end%>
				<span class="time"><%= time_ago_in_words(feed_item.created_at) %> ago.</span></p>
		</div>
	</div>
</div>