<div class="post">
	<div class="row-fluid">
		<div class="span1 avatar">
			<%= gravatar_for feed_item.user, :size => 50 %>
		</div>
		<div class="postContent">
			<h2 class="postFrom"><span class="nub"></span><%= feed_item.user.name%>&nbsp;<span class="userName">@llosimura</span></h2>
			<p class="content"><%= feed_item.content %></p>
			<p class="more">
				<% if current_user?(feed_item.user) %>
					<span class="operations">
						      <%= link_to "Borrar", feed_item, :method => :delete,
                                       						   :confirm => "¿Está seguro?",
                                       						   :title => feed_item.content %>
					</span>&nbsp;-&nbsp;
				<% end%>
				<span class="time"><%= time_ago_in_words(feed_item.created_at) %> ago.</span></p>
		</div>
	</div>
</div>