<div class="post">
	<div class="row-fluid">
		<div class="span1 avatar">
			<!--<%= gravatar_for feed_item.user, :size => 50 %>-->
			<img src="/images/NoImage.png" alt="profileImage" class="gravatar" width="50" height="50"/>
		</div>
		<div class="postContent">
			<h2 class="postFrom"><span class="nub"></span><%= link_to feed_item.user.name, feed_item.user%>&nbsp;<span class="userName">@<%=feed_item.user.identity%></span></h2>
			<p class="content">
			<% text = any_url(wrap((feed_item.content)))%>
			<%=sanitize wrap_mentions(text[0]), :tags => %w(a), :attributes => %w(href)%>
			<!--<%= raw wrap(text[0])%>-->				
			</p>
			<p class="more">
				<span class="operations">
					<% if ((text[1][:video]) != nil)%>
						<i class="icon-play-circle"></i>
						<%= link_to "Ver vídeo",'',
												:class => 'videoTweet',
												"data-url" =>raw(text[1][:video]) ,
												:title => "VideoTweet"%>
					<%end%>
					<% if ((text[1][:imagen]) != nil)%>
						<i class="icon-picture"></i>
						<%= link_to "Ver imagen", '',
												  :class => 'imageTweet',
												  "data-url" => raw(text[1][:imagen]),
												  :title => "ImageTweet"%>
					<% end %>
					<% if current_user?(feed_item.user) %>
						<i class="icon-trash"></i>
					      <%= link_to "Borrar", '',
	                   						   :class => 'delete-confirm',
                       						   "data-id" => feed_item.id,
                       						   :title => feed_item.content %>
				   <%else%>
						<i class="icon-repeat"></i>	
						<%=link_to "Responder", '',
												:class => 'reply',
												"data-name" => feed_item.user.name,
												"data-identity" => feed_item.user.identity,
												"data-content" => feed_item.content,
												"data-image" => "/images/NoImage.png",
												:title => feed_item.user.name %>			                                       						   
					</span>&nbsp;-&nbsp;
				<% end%>
				<span class="time"><%= time_ago_in_words(feed_item.created_at) %> ago.</span></p>
		</div>
	</div>
</div>