<% @user ||= current_user %>
<div class="statsContainer">
	<ul class="stats">
		<li>
			<%= link_to raw("<strong>#{@user.microposts.count}</strong> tweets"), current_user %>
		</li>
		<li>
			<a href="<%= following_user_path(@user) %>">
				<strong><%= @user.following.count %></strong> siguiendo
			</a>
		</li>
		<li>
			<a href="<%= followers_user_path(@user) %>">
				<strong><%= @user.followers.count %></strong> seguidores
			</a>
		</li>
	</ul>
</div>