<div id="home" class="span11 mainContainer">	
	<div class="row-fluid">
		<div class="leftBar span4">
			<div class="well">
				<div class="userInfo row-fluid">
					<div class="userAvatar span1">
						<%= gravatar_for current_user, :size => :thumb%>
					</div>
					<div class="userName span3 offset1">
						<strong><%= current_user.name %></strong><br/>
						<small class="more"><a href="<%= user_path(current_user)%>">Ver mi página de perfil</a></small>
					</div>
				</div>
				<%= render 'shared/stats'%>
				<div class="publish" tabindex="1">
					<%= render 'shared/micropost_form' %>
				</div>
			</div>
			<div class="well">
				<h2>Similares a ti</h2>
				<div class="similares">
					<div class="smallUser">
						<%= gravatar_for current_user, :size => :thumb %>
						<span class="name"><%= link_to current_user.name, current_user %></span>
					</div>
				</div>
			</div>
		</div>
		<div class="timeLine span7 offset4 well">
			<h1 class="feedTitle">Timeline</h1>
	       	  	<%= render 'shared/feed'%>
		</div>  
		<%=render 'shared/delete_tweet' %>
		<%=render 'shared/reply_tweet'%>
	</div>
</div>
