  <div class="front-card">
    <div class="front-welcome i<%= Random.new.rand(1..7) %>">
      <div class="front-welcome-text">
        <h1>Bienvenido a TweetBook On Rails</h1>
        <p>Descubre lo que está pasando ahora, con las personas y grupos que te interesan.</p>
      </div>
      <div class="front-signin">
		<%=form_for(:session, :url => sessions_path, :html => {:id => :login}) do |f| %>			
		  	<%= f.text_field(:email, :placeholder => 'Email') %>
		  	<div class="password-signin">
			  	<%= f.password_field(:password, :placeholder => 'Contraseña') %>
			  	<%= f.submit("Entrar", :class => 'btn btn-primary tweetBookButton', :id => 'entrar') %>
		  	</div>
		<% end %>      	
      </div>
      <div class="front-signup">
      	<h2>¿Eres nuevo en TweetBook? Regístrate</h2>
		<%=form_for(@user) do |f| %>
			<div class="campos">
			  	<%= f.text_field :name, :placeholder => "Nombre" %>
			  	<%= f.text_field :email, :placeholder => "Correo electrónico" %>
			  	<%= f.text_field :identity, :placeholder => "Nombre usuario" %>
			  	<%= f.password_field :password, :placeholder => "Contraseña" %>
			  	<%= f.password_field :password_confirmation, :placeholder => "Confirmar" %>
				<%= f.submit("Registrar", :class => 'btn btn-primary tweetBookButton', :id => 'registrar') %>
		
		  	</div>
		 <% end %>      	
      </div>
    </div>
  </div>
  

