  <div class="front-card">
    <div class="front-welcome">
      <div class="front-welcome-text">
        <h1>Bienvenido a TweetBook On Rails</h1>
        <p>Descubre lo que está pasando ahora, con las personas y grupos que te interesan.</p>
      </div>
      <div class="front-signin">
		<%=form_tag({:action => :login},{:id => 'login'}) do %>			
		  	<%= text_field_tag(:username, 'Nombre de usuario') %>
		  	<table class="flex-table password-signin">
		  		<tr>
				  	<td class="primary"><%= password_field_tag(:passw,'Contraseña') %></td>
					<td class="secondary"><%= submit_tag("Entrar", :class => 'btn btn-primary', :id => 'entrar') %></td>
				</tr>
			</table>
			<div class="remember">
		  		<%= check_box_tag(:recordar) %>
			  	<%= label_tag(:recordar, "Recordar contraseña", :style => 'display:inline') %>
		  	</div>
		<% end %>      	
      </div>
      <div class="front-signup">
      	<h2>¿Eres nuevo en TweetBook? Regístrate</h2>
		<%=form_for(@user) do |f| %>
		  	<%= f.text_field :name %>
		  	<%= f.text_field :email %>
		  	<%= f.password_field :password %>
		  	<%= f.password_field :password_confirmation %>
			<%= f.submit("Registrar", :class => 'btn btn-primary', :id => 'registrar') %>
		<% end %>      	
      </div>
    </div>
  </div>
  

