<div class="post">
	<div class="row-fluid">
		<div class="span1 avatar">
			<%= gravatar_for micropost.user, :size => 50 %>
		</div>
		<div class="postContent">
			<h2 class="postFrom"><span class="nub"></span><%= micropost.user.name%>&nbsp;<span class="userName">@<%=micropost.user.identity%></span></h2>
			<p class="content">
				<% text = any_url(wrap(micropost.content))%>
				<%=sanitize wrap_mentions(text[0]), :tags => %w(a), :attributes => %w(href)%>
				<!--<%= wrap(micropost.content) %>-->
			</p>
			<p class="more">
				<span class="operations">	
					<% if ((text[1][:video]) != nil)%>
						<i class="icon-play-circle"></i>
						<%= link_to "Ver vídeo",'',
												:class => 'videoTweet',
												"data-url" =>raw(text[1][:video]) ,
												:title => "VideoTweet"%>
					<%end%>
					<% if ((text[1][:imagen]) != nil)%>
						<i class="icon-picture"></i>
						<%= link_to "Ver imagen", '',
												  :class => 'imageTweet',
												  "data-url" => raw(text[1][:imagen]),
												  :title => "ImageTweet"%>
					<% end %>									
					<% if current_user?(micropost.user) %>

							<i class="icon-trash"></i>
				   		   <%= link_to "Borrar", '#delete-confirm',
                       						   :class => 'delete-confirm',
                       						   "data-id" => micropost.id,
            	       						   :title => micropost.content %>	
				   <% else %>
					  	 	<i class="icon-repeat"></i>
							<%=link_to "Responder", '',
												:class => 'reply',
												"data-name" => micropost.user.name,
												"data-identity" => micropost.user.identity,
												"data-content" => micropost.content,
												"data-image" => "/images/NoImage.png",
												:title => micropost.user.name %>	
					<% end%>
				</span>&nbsp;-&nbsp;
				<span class="time"><%= time_ago_in_words(micropost.created_at) %> ago.</span></p>
		</div>
	</div>
</div>
