<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<img id="brandImg" src="/images/Icono.png" alt="icono"/>
			<a class="brand" href="<%= root_path %>">TweetBook</a>
			<nav class="nav-collapse">
				<ul class="nav">
					<li class="<%= "active" if @title =~ /Home/ %>"><%= link_to "Home", root_path %></li>
					<% if signed_in? %>
						<li class="<%= "active" if @title == 'Usuarios'%>"><%= link_to "Usuarios", users_path %></li>
						<li class="<%= "active" if @title =~ /Perfil|Following|Followers|Configurar/%>"><%= link_to "Perfil", profile_path %></li>
					<% end %>
					<li class="<%= "active" if @title == 'Ayuda'%>"><%= link_to "Ayuda", help_path %></li>		
					<% if signed_in? %>
						<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
					<% else %>
						<li><%= link_to "Sign in", signin_path %></li>
					<% end %>					
				</ul>
				<% if signed_in? %>
					<ul class="nav pull-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Cuenta<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li class="nav-header">Opciones</li>
								<li class="divider"></li>
								<li><%= link_to "Configurar", edit_user_path(current_user)%></li>
							</ul>
						</li>
					</ul>
				<% end %>
			</nav>
		</div>
	</div>
</header>